<h1>Stupid Coaching</h1>

<div class = return_question>
You : "<%= @question %>"

</div>

<div class = answer>
Your coach : "<%= @answer %>"
</div>

<div class = link>
<%= link_to "ask a new question", ask_path %>
</div>
